<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_book.css' %}">
</head>
<body>
    <div id="wrapper">
        <div class="header">
            <h1>Welcome, {{request.session.first_name}}!</h1>
            <p><a href="/books/add">Add Book and Review</a> | <a href="/logout">Logout</a></p>            
        </div>
        <div class="main">
            <div id="column-1">
                <h2>Recent Book Reviews:</h2>
                {%for review in last_3_reviews%}
                <div class="paragraph">
                    <h3><a href="/books/{{review.book.id}}">{{review.book.title}}</a></h3>
                    <p>Rating: {{review.rating}} stars</p><br>
                    <p><a href="/users/{{review.poster.id}}">{{review.poster.alias}}</a> says: {{review.review}}</p><br>
                    <p>Posted on: {{review.created_at|date:"D d M Y"}}</p><br>
                </div>
                {%endfor%}
            </div>
            <div id="column-1">
                <h2>Other Books with Reviews:</h2>
                <div id="overflow">
                    {%for book in all_books reversed%}
                    <h3><a href="/books/{{book.id}}">{{book.title}}</a></h3>
                    {%endfor%}
                </div>               
            </div>
        </div>
    </div>
</body>
</html>